:root {
  --color-primary: #001c30;
  --color-secondary: #176b87;
  --color-tertiary: #64ccc5;
  --color-light: #dafffb;
  --color-teal: #35A29F;

  --color-yellow-light: #E9B384;
  --color-yellow-dark: #F3AA60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  //background-color: var(--color-primary);
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary));
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #dafffb;
}
